*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    background-color: black ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

main{
    padding-top:10rem;
    display: flex;
    justify-content:center
}

.container-servidores{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:4rem;
    margin-bottom:4rem;
    color: white;
    width: 80vw;
    
}

.title-servidores h1{
    border-bottom: 2px solid red
 }
 

.servidores{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55vw;
    height: 70vh;
}

.servidores img{
    height: 32rem;
    margin-top: 10px;
}

.bairescraft{
     display: flex;
     flex-direction: column;
     align-items: center;
}

.cs-go{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servidores h3{
    font-size: 26px;
}


@media screen and (min-width: 320px){

 
    .container-servidores{
        width: 100vw;
        margin-top: unset;
    }

     .title-servidores h1{
        margin-left: 4rem;
        margin-right: 4rem;
        text-align: center;
    }
    .servidores{
        width: 100vw;
        flex-direction: column;
    }

    .servidores img{
        height: 21rem;
    }

    .bairescraft{
        margin-top: 2rem;
        width: 20vw;
    }
    .cs-go{
        margin-top: 1.5rem;
        width: 20vw;
    }


}


@media screen and (min-width: 1024px){

    .servidores{
        width: 55vw ;
        flex-direction: unset;
    }
}

@media screen and (min-width: 1300px){

    .servidores{
        width: 55vw ;
        flex-direction: unset;
        justify-content: space-around;
    }
}